
/*body text*/
*{
  font-family: 'Lato', sans-serif;
  color: #555;
}
.container-fluid{
border: 15px solid #67B242;
}
/*nav styles*/
.top-buttons {
    margin-left: 6%;
    margin-right: 6%;
}
.navbar-static-top {
    padding: 1% 0;
}
 .navbar-static-top a {
    color: #67B242;
    font-size: 1.2em;
}

/*header section*/
.content-container{
  width: 650px;
  margin: auto;
}

.header {
    margin-bottom: 15px;
    color: #67B242;
    font-size: 2em;
    text-align: center;
}
.web{
  color: #555;
  font-size: 1.7em;
  text-align: center;
}

.bio, .hobbies, .resume{
  padding-top: 20px;
  font-size: 1.2em;
}
/*styles for projects */

img{
  max-width: 510px;
}
.image-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.card {
    position: relative;
    margin-top: 20px;
    padding-bottom: 200px;
    font-size: 1.2em;
   
}
.card-title {
  color: #67B242;
}

.card-block {
    position: absolute;
}
/*styles for connect-container */

.connect-container {
    text-align: center;
    padding-bottom: 10%;
}
.fa-envelope{
    padding-right:20px;
}
.fa-github-alt{
    padding-right:20px;
}
/*media queries*/
@media screen and (max-width:600px) {
  .content-container{
    width: 95%;
  }
  .card{
    margin-bottom: 50px;
  }
}
