
/*body text*/
*{
  font-family: 'Lato', sans-serif;
  color: #555;
}
.container-fluid{
border: 15px solid #67B242;
}
/*nav styles*/
.top-buttons {
    margin-left: 6%;
    margin-right: 6%;
    color: #333;
}
.navbar-static-top {
    padding: 1% 0;
}
.navbar-static-top a {
    color: #67B242;
    font-size: 1.2em;
}

a, .AboutMeButtons a{
  color: #67B242;
}

/*header section*/
.content-container{
  width: 55%;
  margin: auto;
}
.headers{
  margin-bottom: 5%;
  text-align: center;

}
.headers h3{
    color: #67B242;
    font-size: 2em;
}
.web{
  color: #555;
  font-size: 1.7em;
}
.introduction {
    font-size:1.2em;
}
.bio, .hobbies, .resume{
  margin: auto;
  padding-top: 20px;
}
/*styles for projects */
.projects-header{
  color: #67B242;
  text-align: center;
  font-weight: 420;
}
img{
  width: 100%;
}
.image-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.card {
    position: relative;
    margin-top: 20px;
    padding-bottom: 200px;
}
.card-title {
  color: #67B242;
  font-size: 1.2em;
}

.card-block {
    position: absolute;
    font-size: 1.2em;
}
/*styles for connect-container */

.connect-container {
    text-align: center;
    padding-bottom: 10%;
}
.fa-envelope{
    padding-right:20px;
}
.fa-github-alt{
    padding-right:10%;
}
/*media queries*/
@media screen and (max-width:600px) {
  .content-container{
    width: 95%;
  }
  .card{
    margin-bottom: 70px;
  }
}
